﻿@model Tools.Logging.Web.Models.HomeViewModel

@if (Model.MessageWasLogged)
{
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-success" role="alert">
            <strong>Logged!</strong> Now go and see if your message turned up in <a target="_blank" href="@Model.KibanaUrl">Kibana</a>
        </div>
    </div>
</div>
}

<div class="row">
    <div class="col-md-4">
        <h2>1. Kibana dashboard</h2>
        <p>
            Log a few messages below and then take a look at the Kibana dashboard.
        </p>
        <p>
            <a target="_blank" class="btn btn-success btn-lg" href="@Model.KibanaUrl">Kibana &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>2. C# log client</h2>
        <p>
            This web app uses a custom logging library that sends a UDP packet with a JSON payload to Logstash.
            Feel free to clone the source from BitBucket and start sending your own logs to an ELK setup.
        </p>
        <p>
            <a target="_blank" class="btn btn-default" href="https://bitbucket.org/joshoakes/tools.logging">Source &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>3. Huh?</h2>
        <p>
            What is the ELK stack? <a target="_blank" href="http://brewhouse.io/blog/2014/11/04/big-data-with-elk-stack.html">Big data with the ELK stack</a> gives a good overview.
        </p>
        <p>
            <a target="_blank" class="btn btn-default" href="https://www.elastic.co/">Elastic.co &raquo;</a>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <br />
        <br />
        <br />
        <h4>This form allows you to log a simple message like an application normally would during its execution.</h4>
        <br />

        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new {@class = "form-horizontal"}))
        {
        <div class="form-group">
            <label for="LogType" class="col-sm-2 control-label">Level</label>
            <div class="col-sm-10">
                @Html.DropDownListFor(x => x.LogType, Model.LogTypes, new {@class = "form-control"})
            </div>
        </div>

        <div class="form-group">
            <label for="Message" class="col-sm-2 control-label">Message</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(x => x.Message, new {@class = "form-control", placeholder = "Enter a message"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(x => x.ThrowException) Log an exception too?
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Log it!</button>
            </div>
        </div>
        }

    </div>
</div>
